.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 358px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_input {
  color: #CCC;
  background-color: black;
  border: none;
  border-bottom: 2px solid #CCC;
  padding-bottom: 13px;
  outline: none;
}

.form_btn {
  max-width: 358px;
  min-height: 50px;
  background-color: #FFF;
  margin-top: 216px;
  border: none;
}

.form_btn:hover {
  opacity: .85;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 260px;
  } 
  .form_btn {
    margin-top: 173px;
    min-height: 46px;
  }
}